<!DOCTYPE html>
<html>
  <head>
    <title>DeviseOmniauthRails</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="yFtnYbX35FaGqsvCc-Q6KQeZ62EQ_xidLBhxK_qLZaY" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="main-content-wrapper col-xs-12">
        <div class="alert-messages col-xs-12">
          <%= render partial: 'layouts/shared/alert_messages' %>
        </div>
        <div class="main-content col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
